tickTime=2000
clientPort=2181
initLimit=5
syncLimit=2

# All servers from kafka-servers in inventory
{% for host in groups['kafka-servers'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_all_ipv4_addresses'][0] }}:2888:3888
{% endfor %}

dataDir={{ dataDir }}