{
    "servers": [
        {
            "port": "{{ jmx_port_supervisor }}",
            "host": "{{ jmx_host }}",
            "alias": "{{ hostname }}",
            "queries": [
                {
                    "outputWriters": [
                        {
                            "@class": "com.googlecode.jmxtrans.model.output.GraphiteWriter",
                            "settings": {
                                "port": "{{ graphite_port }}",
                                "host": "{{ graphite_host }}"
                            }
                        }
                    ],
                    "obj": "java.lang:type=Memory",
                    "resultAlias": "supervisor",
                    "attr": [ "HeapMemoryUsage", "NonHeapMemoryUsage" ]
                }
            ],
            "numQueryThreads": 2
        }
    ]
}
