# {{ ansible_managed }}

storm.local.hostname: {{ inventory_hostname }}
storm.zookeeper.servers:
    - {{ hostvars[groups['storm-nimbus'][0]]['inventory_hostname'] }}

storm.zookeeper.port: {{storm_zookeeper_port}}

# Pick first nimbus
nimbus.host: {{ hostvars[groups['storm-nimbus'][0]]['inventory_hostname'] }}

nimbus.childopts: {{storm_nimbus_childopts}}

ui.childopts: {{storm_ui_childopts}}

supervisor.childopts: {{storm_supervisor_childopts}}
worker.childopts: {{storm_worker_childopts}}

supervisor.slots.ports:
{% for port in storm_supervisor_slots_ports %}
  - {{port}}
{% endfor %}

storm.local.dir: {{storm_local_dir}}

drpc.servers:
{% for host in groups['storm-slaves'] %}
    - {{ hostvars[host]['inventory_hostname'] }}
{% endfor %}

java.library.path: "/usr/local/lib:/opt/local/lib:/usr/lib"
